*{
    font-family: 'Golos Text', sans-serif;
}

.navbar-brand{
    font-size: 42px;
    display: flex;
}

.signUp a{
    text-decoration: none;
    color: black;
}

.nav-tabs{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.tab-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron{
    background-image: url(/img/pizza.png);
    background-size: cover;
    height: 364px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron h1{
    width: 100%;
    text-align: center;

}

