* {
    box-sizing: border-box;
}
:root{
    --link-border-fill: #3498db;
    --link-border-empty: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.container {
    text-align: center;

}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress-container::before {
    content: '';
    background-color: var(--link-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}

.progress {
    background-color: var(--link-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle.active {
}

.btn {

}

.btn.active {

}

.btn:focus {

}
.btn:disabled {

}