*{
    box-sizing: border-box;
}

body{
    background-color: #efedd6;
    font-family: "Roboto Light";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*hide horizontal scroll bar*/
    overflow-x: hidden;
    margin: 0;
}
h1{
    margin: 10px;

}
.box {
    background-color: steelblue;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height:200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    /*move box to right*/
    transform: translateX(300%);
    transition: transform 0.4s ease;
}
/*select even classes and show box from left to right*/
.box:nth-of-type(even){
    transform: translateX(-300%);
}
/*show box in center*/
.box.show {
    transform: translateX(0);
}
